.text-green {
    color: #2bec7c !important;
}

.text-yellow {
    color: #ffee00;
}

.text-red {
    color: #ff4747;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.color-3 {
    color: var(--color-3);
}

.m-0 {
    margin: 0;
}

.top-25 {
    margin-top: 25px;
}

.low-opacity {
    opacity: 0.4;
    transition: opacity 0.3s ease;
}

@media (max-width: 768px) {
    .hide-phone {
        display: none;
    }

    .center-phone {
        margin: auto;
    }
}

@media (min-width: 769px) {
    .hide-desktop {
        display: none;
    }
}