:root {
    --color-main: rgb(32, 34, 40);
    --color-main-bright: rgb(88, 219, 171);
    --color-text: rgb(255, 255, 255);
    
    --color-1: color-mix(in srgb, var(--color-main) 95%, var(--color-main-bright)); /* 5% Brightness */
    --color-2: color-mix(in srgb, var(--color-main) 75%, var(--color-main-bright)); /* 25% Brightness */
    --color-3: color-mix(in srgb, var(--color-main) 50%, var(--color-main-bright)); /* 50% Brightness */
    --color-4: color-mix(in srgb, var(--color-main) 20%, var(--color-main-bright)); /* 80% Brightness */
    --color-5: color-mix(in srgb, var(--color-main) 5%, var(--color-main-bright)); /* 95% Brightness */
    
    --color-1-transparent: color-mix(in srgb, var(--color-1), transparent 40%);
    --color-2-transparent: color-mix(in srgb, var(--color-2), transparent 40%);
    --color-3-transparent: color-mix(in srgb, var(--color-3), transparent 40%);
    --color-4-transparent: color-mix(in srgb, var(--color-4), transparent 40%);
    --color-5-transparent: color-mix(in srgb, var(--color-5), transparent 40%);
    
    --color-text-2: rgb(240,240,240);
}

::selection {
    color: #aaa;
    background-color: #333333aa;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Titillium Web', sans-serif; 
}

a {
    text-decoration: none;
    color: #888;
}

p {
    font-weight: 300;
}

strong {
    font-weight: 700;
}

a:visited {
    color: #888;
}

a.button {
    width: auto;
    border: 0;
    color: #222;
    background-color: #aaa;
    cursor: pointer;
    transition: 0.35s ease background-color;
    height: 54px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 15px;
    padding: 15px 30px;
}

a.button:hover {
    background-color: #ccc;
}

input[type="text"] {
    display: block;
    width: 100%;
    height: 48px;
    background: #666;
    color: #fff;
    border: 0;
    font-family: inherit;
    padding: 10px;
    position: relative;
}

input[type="text"]:focus {
    outline: none;
}

.logo {
    margin: 20px;
}

.openradio-logo {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 20px;
    text-align: center;
    z-index: 999;
    display: flex;
    align-items: center;
    width: 95%;
    max-width: 768px;
    height: 64px;
    background-color: #333c;
    backdrop-filter: blur(5px);
    border-radius: 15px;
}

.openradio-logo .status-info h2{
    color: #aaa;
    font-size: 22px;
    font-weight: 300;
}

.openradio-logo .status-info p {
    font-size: 12px;
    font-weight: 300 !important;
    min-width: 65px;
}

.btn-icon {
    background-color: #222;
    border: none;
    border-radius: 15px;
    height: 48px;
    width: 48px;
    font-size: 16px;
    color: #999;
    cursor: pointer;
    transition: 0.35s ease background-color;
    margin: 3px;
}

.btn-icon:hover {
    background-color: #444;
}

.btn-icon.disabled {
    cursor: not-allowed;
    color: #666;
}

.leaflet-grab {
    cursor: -webkit-default;
    cursor: -moz-default;
    cursor: default;
}

.leaflet-container .leaflet-interactive:focus {
    outline: none;
}

h1 {
    font-size: 26px;
    font-weight: 300;
    text-transform: initial;
    user-select: none;
    cursor: pointer;
    color: #aaa;
    margin-left: 15px;
}