.marker {
    background-color: #aaa; /* Example background color */
    border-radius: 50%; /* Circular marker */
}

.marker::after {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    width: 32px; 
    height: 32px; 
    background: transparent;
    pointer-events: auto;
    transition: transform 0.2s ease;
    transform: scale(1);
}

.marker-hover {
    transform: scale(1.7); /* Grows from center */
}

.marker-status-0 {
    background-color: #ffee00ea;
    outline: 4px solid rgba(255, 245, 106, 0.4);
}

.marker-status-1 {
    background-color: #2bec9bea;
    outline: 4px solid rgba(146, 255, 179, 0.4);
}

.marker-status-2 {
    background-color: #ff4747ea;
    outline: 4px solid rgba(255, 138, 122, 0.4);
}

.marker-selected {
    background-color: rgba(88, 224, 224, 0.95); /* Highlight color */
    outline: 4px solid rgba(0, 255, 255, 0.4);
}

.leaflet-bar a {
    color: #aaa;
    background-color: #222;
    transition: 0.35s ease background-color;
}

.leaflet-bar a:hover {
    background-color: #444;
}