.panel-content-all,
.panel-content-current,
.panel {
    transition: all 0.3s ease; /* Adjust timing and easing as needed */
}

.panel {
    width: 450px;
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background: #222;
    opacity: 0.95;
}

.panel.open {
    display: flex;
}

.panel h3 {
    font-size: 24px;
    margin-bottom: 0;
}

.panel p {
    margin: 0;
}

.panel .panel-sidebar {
    width: 64px;
    height: 100%;
    background-color: #444;
    cursor: pointer;
    transition: 0.35s ease-in-out background-color;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: #aaa;
}

.panel .panel-sidebar:hover {
    background-color: #666;
}

.panel .panel-content-current, .panel .panel-content-all {
    width: 100%;
    text-align: center;
    padding-top: 25px;
    color: #aaa;
    display: none;
}

.panel .panel-content-current {
    overflow-y: auto;
}

.panel .panel-content-current.open, .panel .panel-content-all.open {
    display:flex;
    flex-direction:column;
}

#current-tuner-desc {
    width: 80%;
    margin: 0 auto;
}

.tuner-list {
    text-align: left;
    overflow-y:auto;
}

.tuner {
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    display: flex;
    transition: 0.35s ease-in-out background-color;
    align-items: center;
}

.tuner:hover {
    background-color: #555;
}

.tuner h2, .tuner p {
    margin: 0;
}

.tuner h2 {
    font-size: 20px;
}

.tuner-basic-info {
    width: 100%;
}

.tuner-status, .tuner-flag {
    width: 32px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tuner-flag {
    display: block;
    width: 48px;
}

div[class^="tuner-status-"] {
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }

.tuner-status-0 {
    background-color: #ffee00;
}

.tuner-status-1 {
    background-color: #2bec7c;
}

.tuner-status-2 {
    background-color: #ff4747;
}

.online-status {
    border-top: 1px solid #444;
}

#current-tuner-name {
    font-size: 32px;
    max-width: 90%;
    margin: 0 auto;
    font-weight: 300;
}

.current-tuner-link.link {
    margin: auto;
    margin-bottom: 10px;
}

.current-tuner-link.button {
    margin-top: 0;
}

@media (max-width: 768px) {
    .panel {
        width: 100%;
        z-index: 100;
    }
  }