.panel-content-all,
.panel-content-current,
.panel-content-settings,
.panel {
    transition: all 0.3s ease; /* Adjust timing and easing as needed */
}

.panel {
    width: 450px;
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background: #222;
    opacity: 0.95;
}

.panel.open {
    display: flex;
    z-index: 1000;
}

.panel h3 {
    font-size: 28px;
    margin-bottom: 0;
    font-weight: 300;
}

.panel p {
    margin: 0;
}

.panel .text-bright-underline:hover {
    text-decoration: underline;
}

.panel .text-small {
    font-size: 12px;
}

.panel table.status-table {
    width: 80%;
    margin: auto;
}

.panel table.status-table th {
    width: 100px;
}

.panel table.status-table td {
    font-size: 28px;
    font-weight: 100;
}

.info-table {
    width: 90%;
    margin: auto;
}

.info-table td {
    padding: 10px;
}

.panel .panel-sidebar {
    width: 64px;
    height: 100%;
    background-color: #444;
    cursor: pointer;
    transition: 0.35s ease-in-out background-color;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: #aaa;
}

.panel .shorten {
  text-overflow: ellipsis;
  overflow: hidden;
  width: auto;
  white-space: nowrap;
  max-width: 200px;
}

.panel-current-main {
    height: calc(100% - 120px);
    overflow-y: auto;
}

.panel-current-connect {
    height: 120px;
    background: #333;
    flex-direction: column;
}

.panel .panel-sidebar:hover {
    background-color: #666;
}

.panel .panel-content-current, .panel .panel-content-all, .panel-content-settings {
    width: 100%;
    text-align: center;
    padding-top: 5px;
    color: #aaa;
    display: none;
}

.panel .panel-content-current, .panel .panel-content-settings {
    overflow-y: auto;
}

.panel .panel-content-current.open, .panel .panel-content-all.open, .panel .panel-content-settings.open {
    display:flex;
    flex-direction:column;
}

#current-tuner-desc {
    width: 80%;
    margin: 0 auto;
}

.tuner-list {
    height: 100%;
    text-align: left;
    overflow-y: auto;
}

.tuner {
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    display: flex;
    transition: 0.35s ease-in-out background-color;
    align-items: center;
    border-bottom: 1px solid rgba(16,16,16,0.3);
}

.tuner:hover {
    background-color: #555;
}

.tuner.focused {
    border: 2px solid #007BFF; /* Highlight color for focused element */
    background-color: #333; /* Background color for focused element */
}

.tuner h2, .tuner p {
    margin: 0;
}

.tuner h2 {
    font-size: 20px;
}

.tuner-basic-info {
    width: 100%;
}

.tuner-flag {
    width: 32px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tuner-flag {
    display: block;
    width: 48px;
}

.tuner-status-0 {
    /*background-color: #ffee00;*/
    background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(9,9,121,0) 70%, rgba(255, 238, 0, 0.6) 150%); 
}

.tuner-status-1 {
    background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(9,9,121,0) 70%, rgba(43, 236, 124, 0.6) 150%); 
    /*background-color: #2bec7c;*/
}

.tuner-status-2 {
    background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(9,9,121,0) 70%, rgba(255, 71, 71, 0.6) 150%); 
    /*background-color: #ff4747;*/
}

.online-status {
    border-top: 1px solid #444;
}

#current-tuner-name {
    font-size: 26px;
    max-width: 90%;
    margin: 0 auto;
    font-weight: 300;
}

.current-tuner-link.link {
    margin: 0 auto;
    margin-bottom: 10px;
}

.current-tuner-link.button {
    margin: 20px auto 3px auto;
}

@media (max-width: 768px) {
    .panel {
        width: 100%;
        z-index: 100;
    }
  }